{% extends "base.html" %}

{% block header %}
<div class="custom-header">
    <strong>Cristian Rodríguez Canto</strong>
    <nav>
        <a href="{{ base_url }}/">home</a>
        <a href="{{ base_url }}/articles/">blog</a>
        <a href="{{ base_url }}/assets/cv.pdf">cv</a>
        <a target='_blank' href="https://github.com/c11r11">GitHub </a>
        <a target='_blank' href="https://www.linkedin.com/in/cristianrodriguezcanto">LinkedIn</a>
    </nav>
</div>
{% endblock %}

{% block footer %}
<div class="custom-footer">
    <p>© Cristian Rodríguez Canto 2025</p>
    
</div>
{% endblock %}